body {
  padding: 50px;
  background: #242121;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p,
h4,
h2 {
  padding-left: 20px;
}

h1 {
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  background: #5d5dff;
  color: #fff;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.courseBox {
  border: 1px solid #bbbbbb75;
  padding: 20px;
  border-radius: 4px;
}

.icon-right,
.icon-left {
  margin: 5px;
  cursor: pointer;
}

.icon-right:hover,
.icon-left:hover {
  background-color: #bbbbbb13;
  border-radius: 50%;
}